<h1><%= @recipe.name %></h1>
<table>
  <tr>
    <th>Ingredients:</th>
    <td><%= @recipe.ingredients %></td>
  </tr>
  <tr>
    <th>Instructions:</th>
    <td><%= @recipe.instructions %></td>
  </tr>
</table>